@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-bar::-webkit-scrollbar {
    width: 10px;
}

.scroll-bar::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 20px;
}

.card-login {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
}
